{% extends ".html" %}
{% load uni_form_tags %}
{% block body %}
<form action="" method="POST" class="uniForm">
        {% csrf_token %}
        {{ form|as_uni_form }}

        {{ formset.management_form }}

        {% for form in formset.forms %}
            {{ form|as_uni_form }}
        {% endfor %}

        <div class="form_block">
            <input type="button" id="addGuest" value="Add Guest">
            <input type="button" id="removeGuest" value="Remove Guest">
        </div>

        <ul id="dinner_descriptions">
            <h2>Dinner Descriptions</h2>
            <li>
                Sterling Salmon with forest mushrooms and leeks, and a champagne cream sauce
            </li>
            <li>
                Boneless, skinless chicken breast, herbed cheese stuffed, white wine supreme sauce
            </li>
            <li>
            	Vegetarian Dinner
            </li>
            <li>
            	Kid's Dinner
            </li>
        </ul>
        <div class="form_block">
            <input type="submit" value="Send">
        </div>
    </fieldset>
</form>
{% endblock %}
