{% extends ".html" %}

{% block body %}
<div style="text-align: center;">
<h2>How we met</h2>
<p>
    We both attended Hope College and unknowingly crossed paths many times during our four years. However, it took a trip halfway across the world to finally meet. Our initial     
    meeting took place on the flight to Australia where we both spent a month studying abroad. After an amazing trip down-under we were both intrigued.We went our separate ways 
    for the summer, but sure enough, just a few days before school started we literally "ran" into each other on 15th street in Holland (where we both lived) and were soon 
    reminded of the chemistry. A few months later we fell in love.
</p>

<h2>How we got engaged</h2>
<p>
    Andy presented me with tickets to see the Russian ballet Swan Lake for my Christmas present. After spending a wonderful afternoon with friends from school who now live in 
    Chicago, Andy surprised me with a delicious dinner at a gourmet vegan restaurant followed by the ballet at the Auditorium theatre. Little did I know he had one more surprise 
    in store... he took me to a rooftop lounge over-looking the city where we were treated with VIP service, a bottle of champagne and a reserved spot next to a cozy fireplace. 
    Next thing I knew he was down on one knee asking me to be his wife! On our way home we got to see both of our families to celebrate. It was truly a perfect weekend.
</p>
</div>
{% endblock %}