{% extends ".html" %}

{% block body %}
<div style="text-align: center;">
    <h1>Registry</h1>
    <p>
        The Bride and Groom are registered at
    </p>
    <a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4758801" target="_blank"><img src="../static/img/c-and-b.png" /></a>
    <img src="../static/img/flower.png" />
    <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=%2D1421562804&" target="_blank"><img src="../static/img/bbandb.png" /></a>
    <img src="../static/img/flower.png" />
    <a href="http://www.potterybarn.com/registry/2827633/registry-list.html" target="_blank"><img src="../static/img/pb.png" /></a>
    <p>
        Clicking the logos will take you directly to the registry pages
    </p>
</div>
{% endblock %}