{% extends ".html" %}

{% block body %}
<div style="text-align: center;">
    <h1 style="margin-top: 45px; margin-bottom: 35px;">Wedding Day Information</h1>
    <p class="info">
        The Ceremony and Reception will be held at <br />
        <span class="emphasis">The Darby House</span> (<a href="http://maps.google.com/maps?client=safari&rls=en&q=the+darby+house&oe=UTF-8&um=1&ie=UTF-8&sa=N&hl=en&tab=wl" target="_blank">Map</a>)<br />
        at 5:30pm (music starts at 5:00pm)<br />
        925 Darby Creek Dr • Galloway, Ohio • 43082<br />
    </p>
    <hr style="width: 360px; color: #321d00;" />
    <p class="info">
        Rooms have been blocked off for your convenience. <br />
        Please make reservations to ensure group pricing.
    </p>
    <p class="info">
        <span class="emphasis">Holiday Inn</span> (<a href="http://maps.google.com/maps?hl=en&tab=ll&q=Holiday+Inn+Columbus-Hilliard,+Maxwell+Place,+Columbus,+OH" target="_blank">Map</a>) <br />
        (614) 335-1150 <br />
        Located less than 5 miles from the ceremony & reception <br />
        5495 Maxwell Place • Columbus, OH • 43228 <br />
        Estimated cost: $89/night + tax <br />
        *Shuttle service will be provided to and from The Darby House
    </p>
    
    <h2 style="margin-top: 30px;">Other hotels in the area</h2>
    <p class="info">
        <span class="emphasis">Hampton Inn-West</span> (<a href="http://maps.google.com/maps?hl=en&tab=ll&q=Hampton+Inn,+Trabue+Road,+Columbus,+OH" target="_blank">Map</a>) <br /> 
        (614) 851-5599 <br />
        Located less than 5 miles from the ceremony & reception <br />
        5625 Trabue Rd • Columbus, OH • 43228 <br />
        Estimated cost: $90/night + tax
    </p>
    <p class="info">
        <span class="emphasis">Hyatt Regency Columbus</span> (<a href="http://maps.google.com/maps?hl=en&tab=ll&q=Hyatt+Regency+Columbus,+North+High+Street,+Columbus,+OH+43215" target="_blank">Map</a>) <br />
        (614) 463-1234 <br />
        Located 16 miles from the ceremony & reception <br />
        350 North High St • Columbus, OH • 43215 <br />
        Estimated cost: $144/night + tax
    </p>
    <p class="info">Please do not feel obligated to stay at the hotels suggested</p>
</div>
{% endblock %}